.about-card {
    background-color: #ffffff;
    padding: 2rem 2rem;
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    overflow: visible;
    padding: 2rem 5rem 2rem 2rem;
}

.about-section {
    background-color: #fdf7f9;
    padding: 2rem 2rem;
    max-width: 1000px;
    margin: 0 auto; 
    border-radius: 20px;
    box-shadow: 0 10px 24px rgba(0,0,0,0.06);
    text-align: center;
    position: relative;
    overflow: visible;
    padding-bottom: 18rem; /* added this padding to make space for chameleon */
}

.about-header{
    font-family: 'Playfair Display', serif;
    color: #7a1f4f;
    font-size: 4rem;
    font-weight: 800;
    text-align: center;
    margin: 0 0 0.5rem;
    line-height: 1.2;
    max-width: 900px;
    margin: 0 auto 0.5rem;
}

.about-body{
    font-family: "Poppins", sans-serif;
    color: #444444  ;
    font-size: 1.5rem;
    line-height: 1.8;
    text-align: center;
    padding: 3.5rem 2rem;
    max-width: 900px;
    margin: 0 auto;
}


@media (max-width: 768px) {
  .about-card {
    padding: 1.5rem;
    max-width: 95%;
  }
  
  .about-body {
    font-size: 1.2rem;
    padding: 2rem 1rem 3.5rem 1rem; /* added bottom padding */
  }
  
  .about-section {
    padding: 1.5rem;
    margin: 1rem;
    padding-bottom: 19rem; 
  }
  
  .about-body {
    font-size: 1.2rem;
    padding: 2rem 1rem;
  }
}

@media (max-width: 480px) {
  .about-header {
    font-size: 2rem;
  }
  
  .about-body {
    font-size: 1.1rem;
    padding: 1.5rem 0.5rem 2.5rem 0.5rem;
  }
  
  .about-section {
    padding-bottom: 16rem;
  }
}