

/* this is the calendar */
.react-calendar {
  background-color: #f3f3f8;
  border-radius: 10px;
  color: black;
  z-index: 0;
  transform: scale(1.1);
  transform-origin: center;
  margin: 0 auto;
} 

.react-calendar__tile--now {
  background: #e7cede;
  color: white;
}

@media screen and (max-width: 768px) {
  .react-calendar {
    transform: scale(1);
  }
}


.title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.calendar-container p {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #9f4e69;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* calendar itself */
.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.calendar-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.calendar-section1 {
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}

/* section surrounding the calendar, header */
#calendar-section {
  color: #9f4e69;
  background-color: #fdf7f9;
  padding: 3rem 1rem;
  margin-top: 2rem;
}

.calendar-section-title {
  color: #9f4e69;
  font-size: 4rem;
}

.highlight {
  background-color: #f0c6d6 !important;
  border-radius: 75% !important;;
  font-weight: bold;
  color: #7c2645 !important;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.selected-event {
  margin-top: 2rem;
  text-align: center;
}

.event-details {
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem 1.5rem;
  background-color: #fff0f5;
  border: 5px solid #664783;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.event-details h3 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  color: #7c2645;
}

.event-details p {
  margin: 0;
  color: #4d2c38;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

/*
@keyframes spin{
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
*/

