

.react-calendar {
  background-color: #f3f3f8;
  border-radius: 10px;
  color: black;
  margin: 0 auto;
  transform: scale(1.1);
  transform-origin: center;
}


.react-calendar__tile{
  position: relative;
}


.react-calendar__tile--now {
  background: #d6d6d6;
  color: white;
  border-radius: 0.5rem;
}

.react-calendar__tile--active {
  background: transparent;
  color: inherit;
}

.react-calendar__tile--now.react-calendar__tile--active {
  background: #d6d6d6; 
  color: white;
}

/* to get rid of the react default red color for weekends */
.react-calendar__month-view__days__day--weekend {
  color: #333;
  font-weight: normal;
}

.circle-indicator {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #f0c6d6;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  color: #b41938;
  font-weight: bold;
}

.react-calendar__tile.hide-default abbr {
  display: none;
}

@media screen and (max-width: 768px) {
  .react-calendar {
    transform: scale(1);
  }
}

.title{
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.calendar-container p {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #9f4e69;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* calendar itself */
.calendar-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.calendar-wrapper {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;
}

.calendar-section1 {
  flex-shrink: 0;
  margin-bottom: 1.5rem;
}

/* section surrounding the calendar, header */
#calendar-section {
  color: #9f4e69;
  background-color: #fdf7f9;
  padding: 3rem 1rem;
  margin-top: 2rem;
}

.calendar-section-title {
  color: #9f4e69;
  font-size: 4rem;
}


.selected-event {
  margin-top: 2rem;
  text-align: center;
}

.event-details {
  margin: 1rem auto;
  max-width: 700px;
  padding: 1rem 1.5rem;
  background-color: #fff0f5;
  border: 5px solid #664783;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.event-details h3 {
  margin: 0 0 0.5rem;
  font-size: 1.5rem;
  color: #7c2645;
}

.event-details p {
  margin: 0;
  color: #4d2c38;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 1.5;
}

.event-date {
  text-align: center;
  margin-bottom: 1rem;
}


.event-date-value{
  font-family: 'Fira Code', monospace;
  color: #20c461;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
}


.event-no-event {
  font-family: 'Fira Code', monospace;
  color: #20c461;
  margin: 0;
  font-size: 0.2rem;
}