/* Links page styles */
.links-container {
  background-color: #fdf7f9;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem;
}

.links-container h1 {
  color: #9f4e69;
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  text-align: center;
  margin-bottom: 3rem;
}

.buttons-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* need to override the styles of the hero button. It is invisible when it should be visible*/
.links-container .hero-button {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: #822a4d;
  color: #fff;
  padding: 1.2rem 3rem;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-family: "Fira Code", monospace;
  display: block;
  width: fit-content;
  text-align: center;
  min-width: 250px;
}

.links-container .hero-button:hover {
  background-color: #Fd3db5;
  transform: translateY(-2px) scale(1.05);
}