{% extends 'core/base.html' %}

{% if request.htmx %}
  <section class="about-section">
    <h2>About WEECS</h2>
    <p>WEECS supports women in Electrical Engineering and Computer Science through mentorship, hands-on projects, professional development, and social events. If you're passionate about building community and growing in STEM, this is the place for you!</p>
  </section>
{% else %}
  {% extends 'core/base.html' %}
  {% block content %}s
    <section class="about-section">
      <h2>About WEECS</h2>
      <p>WEECS supports women in Electrical Engineering and Computer Science through mentorship, hands-on projects, professional development, and social events. If you're passionate about building community and growing in STEM, this is the place for you!</p>
    </section>
  {% endblock %}
{% endif %}