{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/links.css' %}">
{% endblock %}

{% block content %}
<div class="links-container">
  <h1>Connect With Us</h1>
  <div class="buttons-wrapper">
  <a href="https://discord.gg/4HF6Rc2X9f" target="_blank" class="social-link">
    <i class="fa-brands fa-discord"></i>
    <span>Discord</span>
  </a>
  <a href="https://www.instagram.com/weecsucf/" target="_blank" class="social-link">
    <i class="fa-brands fa-instagram"></i>
    <span>Instagram</span>
  </a>
  <a href="mailto:uweecs@gmail.com" class="social-link">
    <i class="fa-solid fa-envelope"></i>
    <span>Email Us</span>
  </a>
</div>
</div>
{% endblock %}