{% extends 'core/base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'core/links.css' %}">
{% endblock %}

{% block content %}
<div class="links-container">
  <h1>Connect With Us</h1>
  <div class="buttons-wrapper">
    <a href="https://discord.gg/RXvH2MsP" target="_blank" class="hero-button">Join Our Discord</a>
    <a href="https://www.instagram.com/weecsucf/" target="_blank" class="hero-button">Follow on Instagram 💖</a>
    <div class="email-section">
    <p class="email-text">Or email us directly: <strong>uweecs@gmail.com</strong></p>
    </div>
  </div>
</div>
{% endblock %}